<h1>Login</h1>

<%= form_tag '/login' do %>

  Email: <%= text_field_tag :email %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>

<% end %>

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>