table>tbody>tr>td, .table-responsive {
  border:none!important;
}

map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;

}

.table-responsive {
  background: url"http://i.imgur.com/NHHWirq.jpg";
}

body {
background-color: black !important;
  color: white;
}

ul {
  list-style-type: none;
}

#map {
  height:400px;
  width:100%;
}

#atmos-rating, #drink-rating, #wait-rating, #cost-rating, #music-rating {
    text-align:center;
}

.lit-rating ul {
  padding-left:0;
}

.lit-rating .btn {
    display: block;
    margin: 0 auto;
}
