<div id="accordion">
	<div class="map-responsive">
		<iframe 
		id="map-selective"
		width="300"
	  height="300"
	  frameborder="0" style="border:0"
		src="https://www.google.com/maps/embed/v1/view?key=AIzaSyAlgF4bIl8uLIqhycYl1cMrpUxftD082Cw&center=<%= @place.coordinate_latitude.to_f.round(4)%>,<%= @place.coordinate_longitude.to_f.round(4) %>&zoom=18&maptype=roadmap" allowfullscreen>
		</iframe>
	</div>
</div>
